body {
  padding: 30px;
  overflow:hidden;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
}

#example {
  position: relative;
  height: 100%;
  width: 100%;
}

#bar {
  position: absolute;
  top: 0; bottom: 40px;
  width: 100%;
}

#bar .left{
  float: left;
}

#bar .right{
  float: right;
}

#bar button,
#bar div {
  display: inline-block;
}

#window {
  position: absolute;
  top: 40px; bottom: 0; left: 0; right: 0;
  border: 5px #ccc solid;
}

#window .introduction{
  position: absolute;
  top: 20%; left:0; right:0;
  margin: 0 auto;
  text-align: center;
  color: #ddd;
}

.wm-one{ background: #9e9ac8; }

.wm-two{ background: #bcbddc; }

.wm-three{ background: #dadaeb; }
